*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;
}

body{

background:linear-gradient(-45deg,#0f2027,#203a43,#2c5364,#4facfe);
background-size:400% 400%;
animation:bg 12s ease infinite;

min-height:100vh;

display:flex;
justify-content:center;
align-items:center;

padding:40px;

color:white;

}

@keyframes bg{

0%{
background-position:0% 50%;
}

50%{
background-position:100% 50%;
}

100%{
background-position:0% 50%;
}

}

.container{

width:1100px;

display:grid;

grid-template-columns:350px 1fr;

gap:35px;

}

.card{

background:rgba(255,255,255,.1);

backdrop-filter:blur(15px);

border-radius:20px;

padding:35px;

text-align:center;

box-shadow:0 10px 40px rgba(0,0,0,.3);

transition:.5s;

}

.card:hover{

transform:translateY(-10px);

}

.profile{

width:180px;

height:180px;

border-radius:50%;

border:6px solid white;

margin-bottom:20px;

}

.card h1{

font-size:30px;

margin-bottom:8px;

}

.card h3{

font-weight:300;

margin-bottom:20px;

}

.card p{

line-height:28px;

margin-bottom:25px;

}

.btn{

display:inline-block;

padding:12px 28px;

background:#00d4ff;

color:white;

text-decoration:none;

border-radius:30px;

transition:.4s;

font-weight:bold;

}

.btn:hover{

background:#00ff95;

transform:scale(1.08);

}

.info{

display:flex;

flex-direction:column;

gap:25px;

}

section{

background:rgba(255,255,255,.1);

backdrop-filter:blur(10px);

padding:25px;

border-radius:18px;

box-shadow:0 8px 20px rgba(0,0,0,.25);

transition:.4s;

}

section:hover{

transform:translateY(-6px);

}

h2{

margin-bottom:20px;

color:#00ffd5;

}

.box{

background:rgba(255,255,255,.12);

padding:18px;

border-radius:12px;

line-height:28px;

}

.skills{

display:flex;

flex-wrap:wrap;

gap:15px;

}

.skills span{

padding:12px 22px;

background:#00d4ff;

border-radius:30px;

font-weight:bold;

transition:.4s;

cursor:pointer;

}

.skills span:hover{

background:#00ff95;

transform:scale(1.1);

}

.social{

display:flex;

gap:20px;

flex-wrap:wrap;

}

.social a{

text-decoration:none;

padding:12px 25px;

border-radius:30px;

background:#ffffff22;

color:white;

transition:.4s;

}

.social a:hover{

background:#00d4ff;

transform:translateY(-5px);

}

@media(max-width:900px){

.container{

grid-template-columns:1fr;

}

}